<span class="v-name" title="{{$ctrl.vehicle.jbeam}}">{{$ctrl.vehicle.label}}</span>
<span class="v-actions">
    <button type="button" class="bjr-btn small" ng-if="$ctrl.actions.focus !== undefined"
        ng-disabled="!$ctrl.actions.focus" ng-click="$ctrl.action($event,'focus')">
        {{'beamjoy.window.main.playerlist.actions.focus' | translate}}
    </button>
    <button type="button" class="bjr-btn small" ng-if="$ctrl.actions.freeze !== undefined" ng-click="$ctrl.action($event,'freeze')">
        {{($ctrl.vehicle.froze ? 'beamjoy.window.main.playerlist.actions.unfreeze' : 'beamjoy.window.main.playerlist.actions.freeze') | translate}}
    </button>
    <button type="button" class="bjr-btn small" ng-if="$ctrl.actions.engine !== undefined" ng-click="$ctrl.action($event,'engine')">
        {{($ctrl.vehicle.shut ? 'beamjoy.window.main.playerlist.actions.start' : 'beamjoy.window.main.playerlist.actions.stop') | translate}}
    </button>
    <button type="button" class="bjr-btn small" ng-if="$ctrl.actions.launch !== undefined" ng-click="$ctrl.action($event,'launch')">
        {{'beamjoy.window.main.playerlist.actions.launch' | translate}}
    </button>
    <button type="button" class="bjr-btn small" ng-if="$ctrl.actions.explode !== undefined" ng-click="$ctrl.action($event,'explode')">
        {{'beamjoy.window.main.playerlist.actions.explode' | translate}}
    </button>
    <button type="button" class="bjr-btn small danger" ng-if="$ctrl.actions.delete !== undefined" ng-click="$ctrl.action($event,'delete')">
        {{'beamjoy.window.main.playerlist.actions.delete' | translate}}
    </button>
</span>
