<style>
    bj-main-activities .section-bar {
        border-bottom: thin solid gray;
    }
    bj-main-activities .section-tab {
        padding: 0.3em 0.6em;
        border: thin solid gray;
        border-radius: 0.3em;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        background-color: rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
    }
    bj-main-activities .section-tab.active {
        background-color: rgba(230, 92, 0, 0.44);
    }
    bj-main-activities .section-tab:hover {
        color: rgb(241 255 164);
    }
</style>

<div class="section-bar d-flex flex-wrap mb-2">
    <div
        class="section-tab cursor-pointer"
        ng-repeat="section in $ctrl.SECTIONS"
        ng-class="{active: $ctrl.activeSection === section}"
        ng-click="$ctrl.changeSection($event, section)"
    >
        {{('beamjoy.window.main.tabs.races.sections.' + section) | translate}}
    </div>
</div>

<bj-main-races ng-if="$ctrl.activeSection === 'races'"></bj-main-races>
<bj-main-bus-lines ng-if="$ctrl.activeSection === 'busLines'"></bj-main-bus-lines>
<bj-main-hunter ng-if="$ctrl.activeSection === 'hunter'"></bj-main-hunter>
<bj-main-infected ng-if="$ctrl.activeSection === 'infected'"></bj-main-infected>
